# Introduccion a Python

Este lenguaje fue introducido por Guido Von Russum en 1990 y su versión 3.0 fue lanzada en 2008

Existen muchas formas para compilar en python, la más popular es usar el motor de Anaconda.

Por otro lado se puede usar como editor de texto:
* Spyder (Viene al isntalar Anaconda)
* Sublime Text
* Jupyter Notebook

En python usualemnte se usan muchas librerias diferentes, para una instalación rápida de estas, es necesario crear un ambiente de python en el computador, para ello debemos tener una conexción a internet y tener instalado el Anaconda en el computador.

Crear ambiente de python 3.5:
	* Abrir Anaconda Prompt(consola) como ADMINISTRADOR
	* Tipiar: conda create -n py35 python=3.5
	* Tipiar: activate py35

- Para utilizar sublime como como editor de texto:

1) Abrir Sublime Text, guardar archivo como xxxxxxxx.py, programar sin problemas. 

2) Para ejecutarlo:
	- Abrir nuevamente Anaconda Prompt y tipiar "Activate py35"
	- Ubicar direccion del archivo a ejecutar
	- Tipiar en consola "cd direcion del archivo"
	- Tipiar "python xxxxxxx.py"

* Para utilizar Jupyter Notebook:
    - Abrir Anaconda Prompt(consola)
    - Tipiar: activate py35
    - Tipiar: jupyter notebook
    
Se abrira el navegador predeterminado y se ejecutará jupyter como localhost

# Tipos de Datos y Operadores

* Los operadores son: 
    - Suma(+)
    - Resta(-)
    - Multiplicacion (*)
    - Division (/)
    - División Entera (//)
    - Elevado (**)
    - Modulo (%)

* Tipos de Datos:
    - Enteros (Int)
    - Flotantes (Float)
    - Booleanos (Bool)
    - Cadenas (Strings)

In [3]:
num_entero,num_real,tipo_cadena=10,13.1415,"hola mundo"
tipo_bool=True
print(num_entero,num_real,tipo_cadena,tipo_bool)
print("\n")
print("Entero:"+str(num_entero)+"\n Real:"+str(num_real)+"\n Cadena:"+str(tipo_cadena)+"\n Booleano:"+str(tipo_bool))

10 13.1415 hola mundo True


Entero:10
 Real:13.1415
 Cadena:hola mundo
 Booleano:True

In [32]:
type("a")

str

In [4]:
type(3*4.6)

float

In [6]:
base=30
altura=50
superficie=base*altura/2
print(superficie)
print(type(superficie))

750.0
<class 'float'>

# Casteo

In [8]:
n = input("Enter an int: ")
print(type(n))
if type(n) == int:
    print(n," is an integer")
else:
    print(n," is NOT an integer")

Enter an int: 10
<class 'str'>
10  is NOT an integer

In [9]:
n = float(input("Enter an int: "))
if type(n) == float:
    print(n," is a float")
else:
    print(n," is NOT an integer")

Enter an int: 10
10.0  is a float

# Tuplas

In [13]:
mi_tupla=('Indice cero', 2, 3.0, 'Indice tres')
print(mi_tupla[0])
print(mi_tupla[2])
print(mi_tupla[-1])
print(mi_tupla[-2])
print(mi_tupla[2:3])
mi_tupla[0]=5

Indice cero
3.0
Indice tres
3.0
(3.0,)

TypeError: 'tuple' object does not support item assignment

In [15]:
t1=(1,'dos',3)
t2=(t1,2.25)
print(t1)
print(t2)
t3=t1+t2
print(t3)
print(t3[3][0])

(1, 'dos', 3)
((1, 'dos', 3), 2.25)
(1, 'dos', 3, (1, 'dos', 3), 2.25)
1

# Listas

In [16]:
mi_lista=['Indice cero',24,13.14,True,[1,2]]
print(mi_lista[3])
print(mi_lista[1:3])
mi_lista[1]=False
print(mi_lista)
mi_lista.append('nuevo item')
print(mi_lista)

True
[24, 13.14]
['Indice cero', False, 13.14, True, [1, 2]]
['Indice cero', False, 13.14, True, [1, 2], 'nuevo item']

# Diccionario

In [28]:
mi_diccionario={'clave1':'valor1','clave2':2,'clave3':3.33}
del(mi_diccionario['clave1'])
mi_diccionario[(1,2)]=[5,6,7]
print(mi_diccionario)
mi_diccionario[(1, 2)][0]=8
print(mi_diccionario[2])

{(1, 2): [5, 6, 7], 'clave3': 3.33, 'clave2': 2}

KeyError: 2

In [27]:
monthNumbers = {'Jan': 1, 'Feb': 2, 'Mar' : 3, 'Apr': 4, 'May': 5,
               1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May'}

print('the third month is ' + monthNumbers[3])
dist = monthNumbers['Apr'] - monthNumbers['Jan']
print('Apr and Jan are ', dist, 'months apart')

the third month is Mar
Apr and Jan are  3 months apart

In [30]:
monthNumbers.keys()

dict_keys([3, 1, 2, 'May', 'Mar', 5, 'Jan', 'Apr', 'Feb', 4])

In [59]:
monthNumbers[('Jun', 'Summer')] = 'Hot'
monthNumbers

{('Jun', 'Summer'): 'Hot',
 1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 'Apr': 4,
 'Feb': 2,
 'Jan': 1,
 'Mar': 3,
 'May': 5}

# Estructura If

In [37]:
numero=0
if numero==0:
    print('numero positivo')
elif numero<0:
    print('numero negativo')
else:
    print('numero es cero')

numero positivo

# Estructura While

In [40]:
respuesta='si'
numero=0
i=0
while True:
    numero=int(input('Digite un numero'))
    if numero>0:
        print('numero positivo')
    elif numero<0:
        print('numero negativo')
    else:
        print('numero es cero')
        break

Digite un numero5
numero positivo
Digite un numero5
numero positivo
Digite un numero3
numero positivo
Digite un numero21
numero positivo
Digite un numero0
numero es cero

# Estructura For

In [50]:
mi_lista=[1,2,3,4]

# for numeros in mi_lista:
#     print(numeros)


print(mi_lista)
for i in range(len(mi_lista)):
    print('i= ',i)
    print(mi_lista[i])
    mi_lista[i]=mi_lista[i]%3
print(mi_lista)

[1, 2, 3, 4]
i=  0
1
i=  1
2
i=  2
3
i=  3
4
[1, 2, 0, 1]

In [52]:
x = 10
print(enumerate(range(5,x)))
for i, j in enumerate(range(5,x)):
    print("i=",i, "j=",j)

<enumerate object at 0x00000254857BEA20>
i= 0 j= 5
i= 1 j= 6
i= 2 j= 7
i= 3 j= 8
i= 4 j= 9

# Funciones

In [54]:
def imprimir_nombre(primer_nombre, apellido, inverso=False):
    if inverso:
        print(apellido+" "+primer_nombre)
    else:
        print(primer_nombre,apellido)
    return()
print(imprimir_nombre('gonzalo','galvez'))
print(imprimir_nombre('gonzalo','galvez',True))

gonzalo galvez
()
galvez gonzalo
()

In [52]:
def max_(x, y):
    if x > y:
        return x
    else:
        return y

In [53]:
max_(7,4)

7

## Scoping

In [54]:
def f(x):
    y = 5
    x = x + y
    print("x =", x)
    return x

x = 3
y = 2
z = f(x)
print("z =", z)
print("x =", x)
print("y =", y)

x = 8
z = 8
x = 3
y = 2

# Serie de Fibonaci

In [55]:
def fib(n):
    """
    Assumes n an int >= 0
    Returns Fibonacci of n
    """
    if n == 0 or n == 1:
        return 1
    else:
        return fib(n-1) + fib(n-2)

def testFib(n):
    for i in range(n+1):
        print("fibonacci of ", i, '=' ,fib(i))
        
testFib(5)

fibonacci of  0 = 1
fibonacci of  1 = 1
fibonacci of  2 = 2
fibonacci of  3 = 3
fibonacci of  4 = 5
fibonacci of  5 = 8

# List comprehension

In [56]:
L = [x**2 for x in range(1,7)]
print(L)


result=[]
for i in range(1,7):
    result.append(i**2)
print(result)

[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36]

In [57]:
mixed = [1,2,"a",3,4.2]
print([x**2 for x in mixed if type(x) == int])

[1, 4, 9]

# Objetos

In [60]:
import datetime

class Person(object):
    def __init__(self, name):
        '''
        Creates a person with name name
        '''
        self.name = name
        try:
            lastBlank = name.rindex(' ')
            self.lastName = name[lastBlank+1:]
        except:
            self.lastName = name
        self.birthDay = None
        
    def getLastName(self):
        '''
        returns self's last name
        '''
        return self.lastName
    
    def setBirthDay(self, birthDate):
        '''
        Assume birthDate is of type datetime.date
        set self's birthday to birthDate 
        '''
        self.birthday = birthDate
    
    def getAge(self):
        '''
        returns self's current age in days
        '''
        if self.birthday == None:
            raise ValueError
        return(datetime.date.today()-self.birthday).days
    
    def __lt__(self, other):
        '''
        return True if self's name is lexicographically
        less than other's name, and False otherwise
        '''
        if self.lastName == other.lastName:
            return self.name < other.name
        return self.lastName < other.lastName
    
    def __str__(self):
        '''
        return self's name
        '''
        return self.name

In [62]:
me = Person('Gonzalo Galvez')
him = Person('Barack Obama')
him2 = Person('Levi Campos')
her=Person('Camila')
print(me.getLastName())
me.setBirthDay(datetime.date(1993, 12, 13))
print(me.getAge()/365.25)
print(him2)

Galvez
24.922655715263517
Levi Campos

In [62]:
pList = [me, him, her]
for p in pList:
    print(p)

Gonzalo Galvez
Barack Obama
Camila

In [64]:
pList.sort()
for p in pList:
    print(p)

Camila
Gonzalo Galvez
Barack Obama